@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.PokeballLoader {
  animation: spin 2s linear infinite;
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 50%;
}